/* -------------------------------------------------------------------------------

general

----------------------------------------------------------------------------------*/ 
body {
    font-family: "Helvetica Neue Style", sans-serif;
    min-height: 100%;
    background: url(/img/background.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}
.logo {
    display: block;
}

/* -------------------------------------------------------------------------------

header

----------------------------------------------------------------------------------*/ 
header {
    background-color: #0F73E8;
    height: 140px;
}
header .flexItems {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
}
header .rootFlex {
    font-family: Roboto;
    font-weight: 300;
    font-size: 19px;
    text-transform: uppercase;
    color: #ffffff;
    justify-content: flex-end;
    
}
header .headerLogo {
    width: 220px;
    max-width: 100%;
}
header .headerIn:hover, header .headerReg:hover {
    border-bottom: 1px solid #ffffff;
}
header .headerCli {
    display: block;
    text-transform: none;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    border-bottom: 1px solid #ffffff;
}
header .mobile-menu {
    position: relative;
    height: 31px;
    width: 40px;
    display: none;
    z-index: 101;
}
header .burger-menu {
    width: 40px;
    height: 3px;
    background-color: #fff;
    position: relative;
    margin-top: 15px;
    border-radius: 10px;
    
}
header .burger-menu::before, header .burger-menu::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #fff;
    border-radius: 10px;
    transition: all .2s linear;
}
header .burger-menu::before {
    top: 12px;
    left: 0;
}
header .burger-menu::after {
    top: -12px;
    left: 0;   
}
header .active .burger-menu::before {
    top: 0;
    transform: rotate(-45deg);
}
header .active .burger-menu::after {
    top: 0;
    transform: rotate(45deg);
}
header .active .burger-menu {
    height: 0;
}
header .mobile-menu .toggle-menu {
    width: 295px;
    height: 100%;
    margin-top: 80px;
    top: 0;
    right: -295px;
    position: fixed;
    background-color: #0F73E8;
    z-index: 100;
    transition: all .2s linear;
}
header .mobile-menu.active .toggle-menu {
    right: 0;
}
header .mobile-menu .toggle-menu {
    text-align: center;
}
header .mobile-menu .toggle-menu .mobile-inOut {
    margin: 15px;
    font-size: 20px;
}
header .mobile-menu .toggle-menu .mobile-inOut .mobile-socIcons {
    margin-top: 5px;
    font-size: 24px;
}
header .mobile-menu .toggle-menu .mobil-link {
    position: relative;
    text-transform: none;
    margin: 30px 20px;
}
header .mobile-menu .toggle-menu .mobil-link::after, 
header .mobile-menu .toggle-menu .mobil-link::before,
header .mobile-menu .toggle-menu .mobile-info::after {
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    background-color: rgba(251, 251, 251, .4);
    z-index: 200;
}
header .mobile-menu .toggle-menu .mobil-link::after {
    bottom: -40px;    
}
header .mobile-menu .toggle-menu .mobil-link::before {
    top: -20px;
}
header .mobile-menu .toggle-menu .mobil-link a {
    display: block;
}
header .mobile-menu .toggle-menu .mobile-info {
    font-size: 22px;
    margin: 60px 20px 30px 20px;
    position: relative;
    text-transform: none;
}
header .mobile-menu .toggle-menu .mobile-info span {
    position: absolute;
    display: block;
    top: -36px;
    left: 10px;
    font-size: 20px;
    
    font-weight: 300;
    background-color: #0F73E8;
    box-shadow: -3px 0 0 #0F73E8, 3px 0 0 #0F73E8;
    z-index: 250;
}
header .mobile-menu .toggle-menu .mobile-info .tel {
    font-size: 27px;
    line-height: 50px;
}
header .mobile-menu .toggle-menu .mobile-info img {
    position: absolute;
    width: 27px;
    right: 38px;
    top: -35px;
}
header .mobile-menu .toggle-menu .mobile-info::before {
    content: '';
    position: absolute;
    display: block;
    width: 55px;
    height: 55px;
    background-color: #fff;
    right: 25px;
    top: -50px;
    border-radius: 50%;
    box-shadow: 0px 0px 14px 2px rgba(255,255,255,1);
}
header .mobile-menu .toggle-menu .mobile-info::after {
    bottom: -20px;
}
header .mobile-menu .toggle-menu .mobile-headerCli {
    outline: #fff;
}



@media(min-width: 300px){

    .inOut {
        margin: 0 0 15px;
    }
    header .requestForAll {
        margin: 0 0 15px;
        width: 260px;
        max-width: 100%;
    }
}
@media(min-width: 768px){
    .headerLogo {
        margin: 0;
    }
    .inOut {
        margin: 0;
    }
    header .requestForAll {
        margin: 10px 0 0 0;
    }
}
@media(min-width: 992px){
    header .requestForAll {
        margin: 0;
    }
}
@media(min-width: 1200px){
    header .requestForAll {
        margin: 0 0 0 30px;
    }
}
/* -------------------------------------------------------------------------------

main

----------------------------------------------------------------------------------*/ 
main {

    min-height: calc(100vh - 280px)
}
/* -------------------------------------------------------------------------------

footer

----------------------------------------------------------------------------------*/ 

footer {
    background-color: #0F73E8;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    height: 140px;
}
footer .flexItems {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 300;
}
footer .logo {
    display: inline-block;
}
footer .socIcons {
    font-size: 25px;
    letter-spacing: 2px;
}
.copyRight {
    color: #6b8ebb;
    font-size: 16px;
    width: 115px;
}
.footerColumn a {
    display: block;
    
}
footer .footerColumn a:hover {
    text-decoration:underline;
}
.footerLink a {
    color: #6b8ebb;
}
.footerColumn {
    display: inline-block;
    max-width: 100%;
}
footer .footerLink {
    margin: 0 10px 15px !important;
}
footer .copyRight {
    margin: 0 0 0 70px;
    display: inline;
}
footer .footerColumn {
    text-align: left;
}
.footerInfo a {
    color: #ffffff;
}
.footerInfo a:hover {
    color: #ffffff;
}
.footerLink a:hover {
    color: #fad644;
}
@media(min-width: 300px){
    .copyRight {
        margin: 0 auto 20px;
        display: block;
    }
    footer .logo {
        margin: 0 0 30px;
    }
    
    .footerColumn {
        margin: 0 10px 15px;
        text-align: center;
    }
}
@media(min-width: 992px){
    footer .logo {
        margin: 0;
    }
    .copyRight {
        margin-left: 70px;
    }
    .footerColumn {
        margin: 0;
    }
}
@media(min-width: 1200px){
    .copyRight {
        margin-left: 70px;
    }
    .footerColumn {
        margin: 0;
    }

}

@media(max-width: 1024px) {
    main #mainForm {
        width: 700px;
        margin: 30px auto;
    }
    .flexItems {
        width: 740px;
    }
    footer .socIcons {
        width: 75px;
        margin: 0 10px;
    }
    footer .footerColumn {
        font-size: 13px;
    }
    footer .footerLink {
        margin: 0 0 0 0;
    }
}
@media(max-width: 768px) {
    body {
        background-position: bottom right 13%;
        background-size: 1020px;
    }
    header {
        height: 80px;
    }
    header .flexItems img {
        width: 130px;
    }
    header .flexItems {
        width: auto;
        margin: 0 15px;
        height: 80px;
    }    
    header .flexItems .rootFlex .inOut {
        display: none;
    }
    header .mobile-menu {
        display: block;
    }
    header .flexItems {
        margin: 0 30px;
    }
    footer {
        display: none;
    }
    
}
@media(max-width: 425px) {
    body {
        background-position: bottom right 24%;
        background-size: 766px;
    }    
}

/* ------------------------- */

header .mobile-menu .toggle-menu {
    right: 0;
}